/* _____GLOBAL */

:root {
  --primary-color: #1e957f;
  --secondary-color: #4185f4;
  --white: #ffffff;
  --black: #010101;
  --gray-color: #5b5b5b;

  --primary-font: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-color);
}

h1,
h2 {
  color: var(--black);
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2;
}
h1 span,
h2 span {
  color: var(--primary-color);
}
h3 {
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
}
h4 {
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
}

ul {
  list-style: none;
}

.wrapper {
  padding-left: 16px;
  padding-right: 16px;
}

.btn-primary {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  text-align: center;
  font-family: var(--primary-font);
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

/* _____HEADER */

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  z-index: 2;

  padding: 24px 0;
}
.header-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo {
  position: relative;
  left: -10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
}
.header-logo span {
  color: var(--black);
}
.header-menu {
  position: absolute;
  right: 32px;
  display: flex;
}
.header-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: 1px solid red;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
}

/* _____HERO */

.hero {
  padding: 48px 0;
}
.hero-grid {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--black);
}
.hero-image {
  width: 100%;
}
.hero-image img {
  width: inherit;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.hero-content p {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-color);
}
.hero-play {
  margin-top: 12px;
}
.hero-play a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--black);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-decoration: none;
  text-transform: uppercase;
}
.hero-play-icon {
  width: 45px;
  height: 45px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--secondary-color);
}
.hero-play-icon svg {
  position: relative;
  left: 1px;
  width: 12px;
}

/* _____SECURE */

.secure {
  padding: 48px 0;
}
.secure-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.secure-carousel {
  width: 220px;
  padding: 60px 10px 10px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  text-align: center;
}
.secure-carousel-image {
  width: 170px;
  height: 170px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 10px 20px 6px rgba(0, 0, 0, 0.08);
}
.secure-carousel-image img {
  position: relative;
  bottom: -10px;
  height: 150px;
}
.secure-carousel p {
  font-size: 12px;
}
.secure-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* _____DATA */

.data {
  padding: 96px 0 48px;
}
.data-grid {
  width: 80%;
  margin: 0 auto;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  gap: 85px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.08);
}
.data-grid h4 {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
}
.data-grid p {
  margin-top: 6px;
  color: var(--black);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* _____EXPERTS */

.experts {
  padding: 96px 0 48px;
}
.experts-grid {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.experts-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* _____FEATURES */

.features {
  padding: 96px 0 48px;
}
.features-description h2 {
  margin-bottom: 20px;
}
.features-container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.features-item {
  width: 80%;
  max-width: 300px;
  padding: 40px 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.08);
}
.features-item img {
  width: fit-content;
}

/* _____FOOTER */

.footer {
  padding: 96px 0 48px;
}
.footer-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
